# Introduction to Scikit-learn

This notebook is an into to scikit-learn library
1. Scikit-learn Workflow
2. Getting the data ready
3. Choose the right algorithm/estimator for our problem
4. Evaluating a model
5. Improve a model
6. Save and load a trained model

## Scikit-learn workflow

In [17]:
import pandas as pd
import numpy as np
heart_disease = pd.read_csv('heart-disease.csv')
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

# 2. Getting the data ready

In [52]:
# Create X (features matrix)
#rows have axis 0, columns have axis 1
# drop all columns except for target column along the axis 1
X = heart_disease.drop("target", axis=1)

# Create Y (labels)
Y = heart_disease["target"]

X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [51]:
Y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

# 3. Choose the right model and hyperparameters

In [13]:
# import classification ML model
from sklearn.ensemble import RandomForestClassifier
clf =  RandomForestClassifier()
# We keep the default hyperparameters, we will see the parameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [54]:
# Fit the model to the data: train the model on training data set
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

((242, 13), (61, 13), (242,), (61,))

In [55]:
# Classification model find the patterns in the training data
clf.fit(X_train, Y_train)

RandomForestClassifier(n_estimators=90)

In [41]:
# make a prediction
y_preds = clf.predict(X_test)
y_preds

array([1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1,
       0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1])

In [22]:
Y_test

102    1
82     1
104    1
189    0
220    0
      ..
131    1
150    1
284    0
246    0
110    1
Name: target, Length: 61, dtype: int64

# 4. Evaluate the model

In [23]:
# Evaluate the model on the training data
clf.score(X_train, Y_train)

1.0

In [24]:
# Evaluate the model on the test data
clf.score(X_test, Y_test)

0.819672131147541

In [30]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
print(classification_report(Y_test, y_preds))

              precision    recall  f1-score   support

           0       0.81      0.78      0.79        27
           1       0.83      0.85      0.84        34

    accuracy                           0.82        61
   macro avg       0.82      0.82      0.82        61
weighted avg       0.82      0.82      0.82        61

In [28]:
confusion_matrix(Y_test,y_preds)

array([[21,  6],
       [ 5, 29]])

In [31]:
accuracy_score(Y_test,y_preds)

0.819672131147541

# 5. Improve the model

In [33]:
# Try different hyperparameters values:  n_estimators
for i in range(10, 100, 10):
    print(f"Trying model with {i} estimators...")
    clf = RandomForestClassifier(n_estimators=i).fit(X_train, Y_train)
    print(f"Model accuracy on test set: {clf.score(X_test, Y_test)*100:.2f} %")
    print("")
    print(" The best score with 40 estimators")

Trying model with 10 estimators...
Model accuracy on test set: 80.33 %

Trying model with 20 estimators...
Model accuracy on test set: 80.33 %

Trying model with 30 estimators...
Model accuracy on test set: 81.97 %

Trying model with 40 estimators...
Model accuracy on test set: 85.25 %

Trying model with 50 estimators...
Model accuracy on test set: 78.69 %

Trying model with 60 estimators...
Model accuracy on test set: 80.33 %

Trying model with 70 estimators...
Model accuracy on test set: 77.05 %

Trying model with 80 estimators...
Model accuracy on test set: 81.97 %

Trying model with 90 estimators...
Model accuracy on test set: 83.61 %

# 6. Save a model and load

In [35]:
import pickle

pickle.dump(clf, open("random_forest_model1.pkl", "wb"))

In [38]:
loaded_model = pickle.load(open("random_forest_model1.pkl", "rb"))
loaded_model.score(X_test, Y_test)

0.8360655737704918